<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block head %}

        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock meta %}

        <title>{% block title %}{% endblock %} | TrampAway</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
            <link rel="stylesheet" href="{% static "vendors/linericon/style.css" %}">
            <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
            <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.carousel.min.css" %}">
            <link rel="stylesheet" href="{% static "vendors/lightbox/simpleLightbox.css" %}">
            <link rel="stylesheet" href="{% static "vendors/nice-select/css/nice-select.css" %}">
            <link rel="stylesheet" href="{% static "vendors/animate-css/animate.css" %}">
            <link rel="stylesheet" href="{% static "vendors/jquery-ui/jquery-ui.css" %}">
            <!-- main css -->
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <link rel="stylesheet" href="{% static "css/responsive.css" %}">
        {% endblock stylesheets %}
    {% endblock head %}
</head>

<style>
    {% block styles %}
    {% endblock styles %}
</style>


<body class="{% block body_class %}nav-md {% endblock body_class %}">

{% block body %}

    <!-- Top Navigation -->
    {% block top_navigation %}
        {% include "top_navigation.html" %}
    {% endblock top_navigation %}


    <!-- Page Header -->
    {% block header %}
        {{ header }}
    {% endblock header %}

    <div class="col-lg-8 col-md-10 mx-auto">
        {% for message in messages %}
            <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}success{% endif %}
            " role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <!-- Main Content -->
    {% block content %}
        <!-- {{ content }} -->
    {% endblock content %}

    <hr>

    <!-- Footer -->
    {% block footer %}
        <footer>
            {% include "footer.html" %}
        </footer>
    {% endblock footer %}

    {% block javascripts %}
        <!-- Bootstrap core JavaScript -->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static "js/clean-blog.min.js" %}"></script>
    {% endblock %}
{% endblock body %}
</body>
</html>