{% extends "base_site.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Home" %} {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block header %}
    <section class="banner_area"
             style="background: url({% static "img/home-bg.jpg" %}) no-repeat scroll center left; background-size: 100vh">
        <div class="container">
            <div class="row banner_inner">
                <div class="col-lg-5"></div>
                <div class="col-lg-7">
                    <div class="banner_content text-center">
                        <h2>Tramp Away</h2>
                        <span class="subheading">{% trans "Your 101 Guide to Cheap Travelling" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}

{% block content %}
    <section class="blog_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% for post in posts %}
                            <article class="blog_style1">
                                <div class="blog_img">
                                    <img class="img-fluid" style="height: 30vh; width: 75vh; object-fit: cover"
                                         src="{{ post.header_image.url }}" alt="{{ post.header_image.name }}">
                                </div>
                                <div class="blog_text">
                                    <div class="blog_text_inner">

                                        <div class="cat">
                                            <a href="{% url "view_author" post.author.user.username %}"><i
                                                    class="fa fa-user"
                                                    aria-hidden="true"></i> {{ post.author }}</a>
                                            <i class="fa fa-calendar"
                                               aria-hidden="true"></i> {{ post.date }}
                                        </div>
                                        <a href="{% url "view_post" post.pk %}"><h4>{{ post.title }}</h4></a>
                                        <p>{{ post.subtitle }}</p>
                                        <a class="blog_btn"
                                           href="{% url "view_post" post.pk %}">{% trans "Read More" %}</a>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    <div class="blog_left_sidebar">

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="?p={{ current_page|add:"-1" }}" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
                                    </a>
                                </li>

                                {% for p in nav_pages %}
                                    {% if current_page == p %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ p }}<span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?p={{ p }}">{{ p }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                <li class="page-item">
                                    <a href="?p={{ current_page|add:"1" }}" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img img-fluid" src="{{ founder.profile_picture.url }}" alt="">
                            <h4>{{ founder }}</h4>
                            <p>TrampAway Founder</p>
                            <p>{{ founder.description|truncatechars:150 }}</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">{% trans "Featured Posts" %}</h3>
                            {% for post in featured_posts %}
                                <div class="media post_item">
                                    <img src="{{ post.header_image.url }}" style="width: 10vh; object-fit: cover"
                                         alt="post">
                                    <div class="media-body">
                                        <a href="{% url "view_post" post.pk %}"><h3>{{ post.title }}</h3></a>
                                        <p>{{ post.date }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
