{% load i18n %}

<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url "index" %}">TrampAway</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "index" %}">{% trans "Home" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "about" %}">{% trans "About" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "contact" %}">{% trans "Contact" %}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right header_social ml-auto">

                        <li class="nav-item submenu dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {% get_current_language as LANGUAGE_CODE %}
                                {{ LANGUAGE_CODE }}</a>
                            <ul class="dropdown-menu">
                                {% get_available_languages as languages %}
                                {% for lang_code, lang_name in languages %}
                                    {% language lang_code %}
                                        <li><a href="{% url "index" %}">{{ lang_name }} ({{ lang_code }})</a></li>
                                    {% endlanguage %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>